.main-header {
    position: absolute;
    box-sizing: border-box;
    display: block;
    padding: 20px 0;
    padding-bottom: 16px;
    width: 100%;
    min-height: 66px;
    background: $header-bg-color;
    z-index: 1;

    &__logo {
        display: inline-block;
        margin-left: 20px;
        text-decoration: none;
        line-height: 0;
        .header-logo {
            fill: white;
            width: 74px;
            &:hover {
                fill: $header-logo-hover;
            }
            &:active {
                fill: $header-logo-down;
            }
        }
    }

    .cross-icon {
        display: none;
    }

    &__nav {
        display: none;
    }

    &__list {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__list-item {
        display: block;
        border-top: 1px solid $header-border-top-color;
        border-bottom: 1px solid $header-border-bottom-color;
    }
    &__link {
        display: block;
        height: 62px;
        line-height: 62px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: $logo-color;
        &:hover {
            color: $logo-hover-color;
        }
        &:active {
            color: $logo-down-color;
        }
    }

    &--opened {
        background: $darkblue;
        padding-bottom: 0;
    }
    &--opened &__nav {
        display: block;
        margin-top: 28px;
        border-top: 1px solid $header-border-bottom-color;
    }

    &--opened .cross-icon {
        display: block;
    }

    &--opened .burger-icon {
        display: none;
    }
}


.burger-icon {
    fill: $white;
    width: 50px;
    &:hover {
        fill: $header-logo-hover;
    }
    &:active {
        fill: $header-logo-down;
    }
}

.cross-icon {
    fill: $white;
    width: 23px;
    height: 23px;
    &:hover {
        fill: $header-logo-hover;
    }
    &:active {
        fill: $header-logo-down;
    }
}