.reviews {
    padding: 43px 20px;
}

.slider-reviews {
    margin-bottom: 34px;

    &__item {
        // padding: на высоту имени автора 
        display: none;

        &.active {
            display: block;
        }
    }
    
    &__title {
        margin: 0;
        margin-bottom: 16px;
        padding: 0;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: $black;
    }

    &__text {
        margin: 0;
        text-align: center;
        line-height: 30px;
    }

    &__pag {
        font-size: 0;
        text-align: center;
        line-height: 0;
        
        &-item {
            box-sizing: border-box;
            vertical-align: top;
            margin-right: 16px;
            width: 12px;
            height: 12px;
            background-color: $pagination-circle-bg-color;
            border-radius: 100%;
            border: 3px solid $pagination-circle-border-color;
            cursor: pointer;


            &::-moz-focus-inner {
                border: 0;
                padding: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background-color: $pagination-circle-hover-color;
            }
        }

        .slider-reviews__pag-item--active {
            border-color: $pagination-circle-active-border-color;
            background-color: $white;
        }
    }

    @media all and (min-width: $tablet) and (max-width: $desktop) {

        &__pag {
            display: none;
        }
        
    }


}