.main-header {
    position: absolute;
    z-index: 1;
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 66px;
    padding: 20px 0;
    padding-bottom: 16px;
    background: $header-bg-color;

    &__logo {
        display: inline-block;
        margin-left: 20px;
        text-decoration: none;
        line-height: 0;

        .header-logo {
            width: 74px;
            fill: white;
        
            &:hover {
                fill: $header-logo-hover;
            }
        
            &:active {
                fill: $header-logo-down;
            }
        }
    }

    .cross-icon {
        display: none;
        width: 23px;
        height: 23px;
        fill: $white;
        
        &:hover {
            fill: $header-logo-hover;
        }
        
        &:active {
            fill: $header-logo-down;
        }
    }

    .burger-icon {
        width: 50px;
        fill: $white;
        
        &:hover {
            fill: $header-logo-hover;
        }
        
        &:active {
            fill: $header-logo-down;
        }
    }

    &__nav {
        display: none;
    }

    &__list {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        &-item {
            display: block;
            border-top: 1px solid $header-border-top-color;
            border-bottom: 1px solid $header-border-bottom-color;
        }
    }

    &__link {
        display: block;
        height: 62px;
        line-height: 62px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: $logo-color;
        
        &:hover {
            color: $logo-hover-color;
        }
        
        &:active {
            color: $logo-down-color;
        }
    }

    &--opened {
        padding-bottom: 0;
        background: $darkblue;
    }

    &--opened &__nav {
        display: block;
        margin-top: 28px;
        border-top: 1px solid $header-border-bottom-color;
    }

    &--opened .cross-icon {
        display: block;
    }

    &--opened .burger-icon {
        display: none;
    }
}